<div class="container">
  {{#each posts}}
    <article class="card bg-dark text-white mb-4">
      <div class="card-body">
        <h2 class="card-title">
          <a href="/post/{{id}}" class="nav-link">{{title}}</a>
        </h2>
        <div class="card-subtitle mb-2">
          Posted by
          {{User.username}}
          on
          {{format_date createdAt}}
        </div>
        <div class="card-text">
          {{body}}
        </div>
      </div>
    </article>
  {{/each}}
</div>