<div>
  <article class="bg-dark text-light p-3 mb-4">
    <div>
      <h2>{{post.title}}</h2>
      <div>
        Posted by
        {{post.User.username}}
        on
        {{format_date post.createdAt}}
      </div>
    </div>
    <div>
      {{post.body}}
    </div>
  </article>

  {{#if post.Comments}}
    <section class="bg-secondary text-light p-3 my-4">
      <div>
        <h3>Comments</h3>
      </div>

      <div>
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash;
              {{User.username}},
              {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="bg-dark text-light p-3">
    <div>
      <h3>Add New Comment</h3>
    </div>

    <div>
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <textarea class="form-control-lg" placeholder="Comment" name="comment-body"></textarea>

      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>